{
  "useTabs": false, // использовать табы? нет (я за пробелы)
  "printWidth": 120, // длина строки - 80
  "tabWidth": 2, // длина "таба" - 2 пробела
  "singleQuote": false, // использовать одинарные кавычки - да!
  "trailingComma": "es5", // запятая в последней строке - да
  "jsxBracketSameLine": false, // закрывающийся jsx в этой же строке
  "parser": "flow", // парсер - flow (пока не важно)
  "semi": true // точка с запятой - нет
}
